* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(57, 57, 235);
    height: 100vh;
}

#header {
    width: 100%;
    height: 10vh;
    background-color: white;
}

#footer {
    width: 100%;
    height: 10vh;
    background-color: white;
    position: fixed;
    bottom: 0;
}

.container {
    margin: 30px auto;
    border: 2px solid white;
}

.easy {
    width: 300px;
    height: 300px;
}

.medium {
    width: 270px;
    height: 270px;
}

.hard {
    width: 210px;
    height: 210px;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.square {
    float: left;
    width: 30px;
    height: 30px;
    border: 2px solid white;
}